<!DOCTYPE html>
<html lang="en" class="tui-bg-blue-black">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} {{ page_title}} - Resume</title>
    <script src="https://vinibiavatti1.github.io/TuiCss/dist/tuicss.min.js"></script>
    <link rel="stylesheet" href="https://vinibiavatti1.github.io/TuiCss/dist/tuicss.min.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MQPMEK74QC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-MQPMEK74QC');
    </script>
    <script src="https://gauravkrp.com/snowify.min.js"></script>
    </head>

<body>
    <div class="tui-screen-1024-768 bordered white-168">
        <div class="tui-panel cyan-168 full-width black-255-text tui-no-shadow center">
            {{ page_title }}
        </div>
        <div class="tui-tabs">
            <ul>
                <li><a class="tui-tab active" data-tab-content="tab-1-content">Experience</a></li>
                <li><a class="tui-tab" data-tab-content="tab-3-content" href="/">Exit</a></li>
            </ul>
        </div>  
    {% block content %} {% endblock %}
        <div class="tui-tab-content tui-content" id="tab-2-content">
        </div>
        <div class="tui-statusbar absolute cyan-168">
            <ul>
                <li><a href="/"><span class="white-255-text">🔚</span> MAIN SCREEN</a></li>
                <li><a href="/bios"><span class="white-255-text">💾</span> WORK</a></li>
                <li><a href="/contacts"><span class="white-255-text">☎️</span> CONTACTS</a></li>
            </ul>
        </div>
    </div>
</body>
<script>
  initSnowify({
    snowColor: 'offWhite',
    snowCount: 100
  });
</script>
</html>
