{% extends 'base.html' %}

{% block content %}
        <div class="tui-tab-content tui-content" id="tab-1-content">
            <table class="tui-table-grid">
                <tbody>
                    <tr>
                        <td rowspan="2" width="60%">
                            <a href=""><button class="tui-button orange-168">Ulyanovsk State University ...[CALS]: 2008-2014</a></button>
                            <br><br>
                            <a href="/volga-dnepr/"><button class="tui-button cyan-168">Junior System Engineer [Volga-Dnepr]: 2012-2013</a></button>
                            <br><br>
                            <a href="/undev/"><button class="tui-button cyan-168">Junior Software Engineer ....[Undev]: 2014-2015</a></button>
                            <br><br>
                            <a href="/restream1/"><button class="tui-button">Software Engineer ........[Restream]: 2015-2016</a></button>
                            <br><br>
                            <a href="/restream2/"><button class="tui-button">Linux Engineer ...........[Restream]: 2016-2018</a></button>
                            <br><br>
                            <a href="/restream3/"><button class="tui-button yellow-168">Lead Linux Engineer ......[Restream]: 2018-2021</a></button>
                            <br><br>
                            <a href="/restream4/"><button class="tui-button yellow-168">DevOps Engineer ..........[Restream]: 2021-2022</a></button>
                            <br><br>
                            <a href="/zeal-group/"><button class="tui-button yellow-168">Senior System Engineer .[Zeal Group]: 2022-....</a></button>
                            
                            <br><br>
                            All buttons are clickable, except University :)
                        </td>
                        <td width="40%" class="center">Item Specified Help</td>
                    </tr>
                    <tr>
                        <td width="25" height="448px">
                            <br>&#60;Tab&#62;, &#60;Shift-Tab&#62; or &#60;Enter&#62; selects field.
                            <br>
                            <br>I tried to describe my entire professional journey from the very beginning. That's why I honestly depicted even the experience of a junior engineer, including tasks and results I achieved.
                            <br>
                            <br>I hope you find this resume format appealing. I made an effort to keep it straightforward to save your time, aiming for maximum sincerity in describing my professional journey from the very beginning.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}
