{% extends 'base.html' %}

{% block content %}
        <div class="tui-tab-content tui-content" id="tab-1-content">
            <table class="tui-table-grid">
                <tbody>
                    <tr>
                        <td rowspan="2" width="60%" class="blue-168-text">
                            <br><a href="/volga-dnepr/">Jr System Engineer [Volga-Dnepr LLC]:</a><input type="text" class="tui-input white-168 black-text" value="[2012-2013]" style="width: 150px" />
                            <br>Jr Software Engineer ........[Undev]:<input type="text" class="tui-input white-168 black-text" value="[2014-2015]" style="width: 150px" />
                            <br>
                            <br>Software Engineer ........[Restream]:<input type="text" class="tui-input white-168 black-text" value="[2015-2016]" style="width: 150px" />
                            <br>Linux Engineer ...........[Restream]:<input type="text" class="tui-input white-168 black-text" value="[2016-2018]" style="width: 150px" />
                            <br>
                            <br>Lead Linux Engineer ......[Restream]:<input type="text" class="tui-input white-168 black-text" value="[2018-2021]" style="width: 150px" />
                            <br>DevOps Engineer ..........[Restream]:<input type="text" class="tui-input white-168 black-text" value="[2021-2022]" style="width: 150px" />
                            <br>Senior System Engineer .[Zeal Group]:<input type="text" class="tui-input white-168 black-text" value="[2022-....]" style="width: 150px" />
                        </td>
                        <td width="40%" class="center">Item Specified Help</td>
                    </tr>
                    <tr>
                        <td width="25" height="448px">
                            <br>&#60;Tab&#62;, &#60;Shift-Tab&#62; or &#60;Enter&#62; selects field.
                            <br>
                            <br>I tried to describe my entire professional journey from the very beginning. That's why I honestly depicted even the experience of a junior engineer, including tasks and results I achieved.
                            <br>
                            <br>I hope you find this resume format appealing. I made an effort to keep it straightforward to save your time, aiming for maximum sincerity in describing my professional journey from the very beginning.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tui-tab-content tui-content" id="tab-2-content">
        </div>
        <div class="tui-statusbar absolute cyan-168">
            <ul>
                <li><a href="#!"><span class="white-255-text">F1</span> Help</a></li>
                <li><a href="#!"><span class="white-255-text">↑↓</span> Select Item</a></li>
                <li><a href="#!"><span class="white-255-text">-/+</span> Change Values</a></li>
                <li><a href="#!"><span class="white-255-text">F9</span> Setup Defaults</a></li>
                <br>
                <li><a href="index.html"><span class="white-255-text">Esc</span> Exit</a></li>
                <li><a href="#!"><span class="white-255-text">←→</span> Select Menu</a></li>
                <li><a href="#!"><span class="white-255-text">Enter</span> Select Sub-Menu</a></li>
                <li><a href="index.html"><span class="white-255-text">F10</span> Save and Exit</a></li>
            </ul>
        </div>
    </div>
{% endblock %}