<!DOCTYPE html>
<html lang="en" class="tui-bg-blue-black">

<head>
    <meta charset="UTF-8">
    <title>Cover letter | Mike Dronov</title>
    <script src="https://vinibiavatti1.github.io/TuiCss/dist/tuicss.min.js"></script>
    <link rel="stylesheet" href="https://vinibiavatti1.github.io/TuiCss/dist/tuicss.min.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MQPMEK74QC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-MQPMEK74QC');
    </script>
    <script src="https://gauravkrp.com/snowify.min.js"></script>
</head>

<body>
    <div class="tui-screen-1024-768 bordered tui-bg-blue-black">

        

        <!-- Navbar -->
        <nav class="tui-nav absolute">
            <span class="tui-datetime" data-format="h:m:s a"></span>
            <ul>
                <li class="tui-sidenav-button red-168-text">≡</li>
                <li class="tui-dropdown">
                    <span class="red-168-text">F</span>ile
                </li>
                <li class="tui-dropdown">
                    <span class="red-168-text">E</span>dit
                </li>
                <li class="tui-dropdown">
                    <span class="red-168-text">V</span>iew
                </li>
                <li class="tui-dropdown">
                    <span class="red-168-text">H</span>elp
                </li>
            </ul>
        </nav>

        <!-- Edit panel -->
        <div class="tui-window full-width full-height tui-no-shadow" style="margin-top: 20px;">
            <fieldset class="tui-fieldset" style="height: 700px;">
                <legend class="center">_</legend>
                <span class="tui-fieldset-button"><span class="green-255-text">↕</span></span>
                <span class="tui-fieldset-text top right" style="margin-right: 50px">1</span>
                <span class="tui-fieldset-button left"><span class="green-255-text">COVER&nbsp;LETTER</span></span>
                <span class="tui-fieldset-text" style="margin-left: 50px;">&nbsp;1:1&nbsp;</span>
                <textarea class="tui-textarea full-width" style="height: 600px; overflow: scroll;">
My excellent ex-colleagues taught me the principles of a good engineer quite early on. They didn't directly articulate them; they just formed in my mind after several projects and collaborations.

I always strive to be honest and transparent, both about my work and with my colleagues. If something isn't working for me, I'll definitely speak up. If I notice a flaw in the code, I'll try to fix it if there's enough time.
                    
Doing things well is crucial. In my view, what sets a good engineer apart from a bad one is the internal desire to understand how a system works. This doesn't mean you have to know every line of code in the Linux kernel. We've outgrown the 1990s, and we don't need to write drivers and shells from scratch. However, understanding and visualizing the internal processes of a system in your mind is essential. It saves time when investigating any incident: you don't randomly check the first idea that comes to mind; instead, you visualize how the entire system works and try to understand what might have gone wrong.
                    
You should treat your systems with love. In a good team, you should proactively help colleagues make systems better: through constant code reviews, collaborative problem-solving, participating together in hackathons. If something doesn't work out, don't be afraid to spend your time deeply studying the material.
                    
I hope these principles resonate not only in my soul but also with others.
                </textarea>
            </fieldset>
        </div>

        <!-- Status bar -->
        <div class="tui-statusbar absolute">
            <ul>
                <li><a href="/"><span class="white-255-text">🔚</span> MAIN SCREEN</a></li>
                <li><a href="/bios"><span class="white-255-text">💾</span> WORK</a></li>
                <li><a href="/contacts"><span class="white-255-text">☎️</span> CONTACTS</a></li>
            </ul>
        </div>

    </div>
</body>

<script>
  initSnowify({
    snowColor: 'offWhite',
    snowCount: 100
  });
</script>
</html>
