<!DOCTYPE html>
<html lang="en" class="tui-bg-blue-black">

<head>
    <meta charset="UTF-8">
    <title>Cover letter | Mike Dronov</title>
    <script src="https://vinibiavatti1.github.io/TuiCss/dist/tuicss.min.js"></script>
    <link rel="stylesheet" href="https://vinibiavatti1.github.io/TuiCss/dist/tuicss.min.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MQPMEK74QC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-MQPMEK74QC');
    </script>
</head>

<body>
    <div class="tui-screen-1024-768 bordered tui-bg-blue-black">


        <!-- Navbar -->
        <nav class="tui-nav absolute">
            <span class="tui-datetime" data-format="h:m:s a"></span>
            <ul>
                <li class="tui-sidenav-button red-168-text">≡</li>
                <li class="tui-dropdown">
                    <span class="red-168-text">F</span>ile
                </li>
                <li class="tui-dropdown">
                    <span class="red-168-text">E</span>dit
                </li>
                <li class="tui-dropdown">
                    <span class="red-168-text">V</span>iew
                </li>
                <li class="tui-dropdown">
                    <span class="red-168-text">H</span>elp
                </li>
            </ul>
        </nav>

        <!-- Edit panel -->
        <div class="tui-window full-width full-height tui-no-shadow" style="margin-top: 20px;">
            <fieldset class="tui-fieldset" style="height: 700px;">
                <legend class="center">_</legend>
                <span class="tui-fieldset-button"><span class="green-255-text">↕</span></span>
                <span class="tui-fieldset-text top right" style="margin-right: 50px">1</span>
                <span class="tui-fieldset-button left"><span class="green-255-text">HOW&nbsp;IT&nbsp;WORKS</span></span>
                <span class="tui-fieldset-text" style="margin-left: 50px;">&nbsp;1:1&nbsp;</span>
<b>Description:</b>
<p>The code is pushed to the Github repository. Next, Github Actions creates a pipeline that runs on a standalone runner. We perform linting checks, run tests, and if everything is successful, we push the built Docker Image to a private Docker registry. Afterward, we create a new job in Nomad that pulls the previously built Docker Image, builds the container, and launches it in the cluster. Clients from the internet access the application through a separately configured Nginx, which is set up alongside Certbot to handle SSL certificates.</p>
<p>Honestly, I found great pleasure in implementing the resume as if it were a real production project. It was a kind of hackathon for myself: a chance to tackle a task under constraints and explore tools that I don't use in my everyday life. For me, it was the container orchestration system Nomad and Github Actions.</p>
<p>I understand that the project is not perfect. There's still a lot to improve, both in terms of code (I didn't have time to refactor the HTML quickly, at least from a DRY perspective) and infrastructure (I still haven't decided on lightweight monitoring).</p>
<b>Source code:</b> <a href="https://github.com/dronov/cv.dronov.net/">https://github.com/dronov/cv.dronov.net/</a><br>
<b>Application:</b> Python + Flask<br>
<b>CSS:</b> <a href="https://github.com/vinibiavatti1/TuiCss/">TuiCss</a><br>
<b>Containerization:</b> Docker<br>
<b>Orchestration:</b> <a href="https://www.nomadproject.io/">Nomad</a><br>
<b>CI-CD:</b><a href="https://github.com/dronov/cv.dronov.net/actions">Github Actions</a><br>
<b>Linter:</b><a href="https://github.com/astral-sh/ruff"> Ruff</a><br>
<b>Monitoring:</b> Has not setup. I am not sure does it <b>really</b> necessary for small pet-project<br>
            </fieldset>
        </div>

        <!-- Status bar -->
        <div class="tui-statusbar absolute cyan-168">
            <ul>
                <li><a href="/"><span class="white-255-text">🔚</span> MAIN SCREEN</a></li>
                <li><a href="/bios"><span class="white-255-text">💾</span> WORK</a></li>
                <li><a href="/contacts"><span class="white-255-text">☎️</span> CONTACTS</a></li>
            </ul>
        </div>

    </div>
</body>

</html>