<!DOCTYPE html>
<html lang="en" class="tui-bg-blue-black">

<head>
    <meta charset="UTF-8">
    <title>Mike Dronov's Resume</title>
    <script src="https://vinibiavatti1.github.io/TuiCss/dist/tuicss.min.js"></script>
    <link rel="stylesheet" href="https://vinibiavatti1.github.io/TuiCss/dist/tuicss.min.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MQPMEK74QC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-MQPMEK74QC');
    </script>
</head>

<body>
    <div class="tui-screen-1024-768 black-168 white-text" style="padding: 2px">
        <img src="https://vinibiavatti1.github.io/TuiCss/examples/resources/pcstartup1.png" width="40px" height="40px" style="float: left" />
        <img src="https://vinibiavatti1.github.io/TuiCss/examples/resources/pcstartup2.png" width="200px" height="150px" style="float: right" />
        <div style="margin-top: 4px"></div>
        Mike Dronov's resume, detailed technical version. Belgrade, Serbia<br>
        Copyright (C) 1991-2023, email: dronovmm@proton.me, telegram: <a href="https://t.me/dronov">dronov</a><br><br>
        ASUS P4T533-C ACPI BIOS Revision 1007 Beta 001<br><br>
        <div id="session-1" style="display: none">
        Main Processor : AMD Athlon(tm) XP 2500+<br>
        Memory Test : &nbsp;&nbsp; 524288K OK<br><br>
        </div>
        <div id="session-2" style="display: none">
            Award Plug and Play BIOS Extension v1.0A<br>
            Initialize Plug and Play Cards...<br>
        </div>
        <div id="session-3" style="display: none">
            PNP init Completed<br><br>
            This is my interactive resume. I hope it will help you get to know me better, including my skills and technical experience.<br><br>
        </div>
        <div id="session-4" style="display: none">
            <div class="tui-window">
                <fieldset class="tui-fieldset">
                    <legend>I HAVE DEPLOYED RESUME</legend>
                    I tried not to build a boring resume, consisting of formal<br>
                    sections about me. Primarily, I chose to pursue the <br>
                    engineering path, and besides creating a small website, <br>
                    I thoroughly documented how I deployed this resume.<br>
                    It's a significant and fascinating personal hackathon, <br>
                    expanding my horizonz. Hope you will like it :)<br>
                    <br>
                    <div class="tui-divider"></div>
                    <br>
                    <a href="/cover-letter"><button class="tui-button orange-168 white-255-text">Cover letter</button></a>
                    <a href="/bios"><button class="tui-button white-255-text">Work experience</button></a>
                    <a href="/skills"><button class="tui-button purple-168 white-255-text">Skills</button></a>
                    <a href="/how-it-works"><button class="tui-button yellow-168 white-255-text">How it works</button></a>
                    <a href="/sre"><button id="sreButton" class="tui-button green-168 white-255-text">SRE</button></a>
                </fieldset>
            </div>
        </div>
        <div class="tui-statusbar absolute black white-text">
            <ul>
                <li"><a href="https://www.linkedin.com/in/mike-dronov/">Press <b>HERE</b> to add me in LinkedIn, </a><b>Alt+F2</b> to enter EZ flash utility
                </li>
            </ul>
            <ul>
                <li style="margin-left: 0px">08/20/2002-1850E/ICH2/W627-P4T533-C</li>
            </ul>
        </div>
    </div>
</body>
<script>
    window.onload = function () {
        setTimeout(function () { showSession("session-1"); }, 300);
        setTimeout(function () { showSession("session-2"); }, 400);
        setTimeout(function () { showSession("session-3"); }, 450);
        setTimeout(function () { showSession("session-4"); }, 870);
        setTimeout(function () { toggleSRE("Hello! If you are here, please write me to my mail dronovmm@proton.me or in telegram @dronov :) Looks like we have something to talk about. "); }, 1500);
    };
    function showSession(id) {
        const session = document.getElementById(id);
        session.style.display = "block";
    }
    function toggleSRE(id) {
        console.log(id)
        const button = document.getElementById('sreButton');

        const stylesAndIntervals = [
            { style: 'green-168', duration: 3000 },
            { style: 'red-168', duration: 500 },
            { style: 'green-168', duration: 2000 },
            { style: 'red-168', duration: 2000 },
        ];

        let currentIndex = 0;

        function applyStyle() {
            const { style, duration } = stylesAndIntervals[currentIndex];
            button.className = `tui-button ${style} white-255-text`;
            currentIndex = (currentIndex + 1) % stylesAndIntervals.length;
            setTimeout(applyStyle, duration);
        }

        applyStyle();
        }
</script>
</html>
