{% extends 'base.html' %}

{% block content %}
        <div class="tui-tab-content tui-content" id="tab-1-content">
            <table class="tui-table-grid">
                <tbody>
                    <tr>
                        <td rowspan="2" width="60%" class="blue-168-text">
                            - Started to work as Linux Firmware engineer for vanilla Linux + U-boot porting to IPC cameras<br>
                            - Learned how to use buildroot, yocto and other firmware building systems<br>
                            - Learned how to write simple kernel modules and edit existing<br>
                            - Learned how to reverse-engineered and reproduce firmware based on U-boot + Linux<br>                           
                            - Learned a lot new about Linux kernel internals
                                                       
                        </td>
                        <td width="40%" class="center">Used:<br><br>
                            Linux, Buildroot, U-boot, Shell, C, Docker
                        </td>
                   </tr>
                    <tr>
                        <td width="25" height="448px">
                            <br>Main achievements:    
                            <br>
                            <br>Ported software to ~30 versions of Linux kernel and U-boot
                            <br>
                            <br>Helped to built build-system for Linux and U-Boot based on buildroot
                            <br>
                            <br>Improved quality of code in firmwares
                            <br>
                            <br>Improved as Linux engineer
                            <br>
                            <br>Shared knowledge with colleagues
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}