{% extends 'base.html' %}

{% block content %}
        <div class="tui-tab-content tui-content" id="tab-1-content">
            <table class="tui-table-grid">
                <tbody>
                    <tr>
                        <td rowspan="2" width="60%" class="blue-168-text">
                            <p>
                                At this position I started to lead local team of several engineers.
                                I was at the China factories to review and make some acceptance tests
                                for devices with firmware I created for. After that I started to work
                                on our development processes to decrease time to market. It was pretty
                                much hard, because the costs of errors are very big for devices located
                                far away from regular infrastructure.
                                Some technical information about our devices and CI-CD process located
                                <a href="https://habr.com/ru/articles/415841/"> here (article of my ex teamlead, I helped to write).</a>
                            </p>
                            - Leaded local team of 2 engineers for porting linux to new IPC cameras<br>
                            - Re-engineered and ported custom u-boot and Linux kernel to IPC cameras using vendor SoC SDK (~60 models)<br>
                            - Contacted with many RnD teams to integrate IPC cameras to video-streaming service<br>
                            - Organized deploy+update+testing processes for 500K devices based on Gitlab CI/CD<br>
                            - Reviewed factory production lines in China and performed some security audits<br>
                            - Contacted with many vendors in development, research and design activities<br>
                            - Created build system for firmwares and packed it as external SDK for partners<br>
                            - Leaded engineering workshops for company partners<br>
                            - Organized several hardware hackathons for engineers (Skolkovo, Rostelecom, etc)<br>
                            
                        </td>
                        <td width="40%" class="center">Used:<br><br>
                            Linux, U-Boot, Gitlab, bash, Python, shell, programer tool, soldering tool, busybox
                        </td>
                   </tr>
                    <tr>
                        <td width="25" height="448px">
                            <br>Main achievements:    
                            <br>
                            <br>Setup CI-CD for 500 000 devices in production
                            <br>
                            <br>Helped to built build-system for Linux and U-Boot based on buildroot
                            <br>
                            <br>Improved quality of code in firmwares
                            <br>
                            <br>Improved as Linux engineer
                            <br>
                            <br>Shared knowledge with colleagues
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}