{% extends 'base.html' %}

{% block content %}
        <div class="tui-tab-content tui-content" id="tab-1-content">
            <table class="tui-table-grid">
                <tbody>
                    <tr>
                        <td rowspan="2" width="60%" class="blue-168-text">
                            - Participated in a lot of commercial web projects as full stack developer<br>
                            - Learned a lot of methodologies how to write clear and understandable code<br>
                            - Participated in several international projects based on Ruby on Rails<br>
                            - Packed web services in docker containers from Vagrant configurations<br>
                                                       
                        </td>
                        <td width="40%" class="center">Used:<br><br>
                            Ruby on Rails, React JS, Gems, React JS, Backbone JS, Linux, Docker, Vagrant, Ansible, Jenkins
                        </td>
                   </tr>
                    <tr>
                        <td width="25" height="448px">
                            <br>Main achievements:    
                            <br>
                            <br>Finished several commercial web projects
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}