{% extends 'base.html' %}

{% block content %}
        <div class="tui-tab-content tui-content" id="tab-1-content">
            <table class="tui-table-grid">
                <tbody>
                    <tr>
                        <td rowspan="2" width="60%" class="blue-168-text">
                            - Organized CI/CD processes to help several development team release software products faster and faster<br>
                            - Helped build internal infrastructure based on Debian servers<br>
                            - Helped with migrating servers from old versions of Debian to Debian 10 Buster<br>
                            - Helped several teams to setup convenient ci/cd pipeline at Ruby on Rails projects<br>
                            - Rewrote a lot of ruby plugins for custom monitoring system based on Chef infrastructure<br>
                            - Packed services to deb packages and organized CI/CD Gitlab pipelines with aptly<br>
                            - Maintained legacy Kubernetes cluster for staging environment, managed metallb LB<br>
                            - Worked with old HP Proliant hardware, maintain Proxmox cluster<br>
                            
                                                       
                        </td>
                        <td width="40%" class="center">Used:<br><br>
                            Linux, Debian, Docker, Chef/Ansible, Aptly, CI/CD, Legacy, Operations, k8s (staging), Ruby, Proxmox
                        </td>
                   </tr>
                    <tr>
                        <td width="25" height="448px">
                            <br>Main achievements:    
                            <br>
                            <br>Setup a lot of CI-CD pipelines for ruby team
                            <br>
                            <br>Improved quality of alerts in riemann monitor system
                            <br>
                            <br>Refactored some legacy bash scripts
                            <br>
                            <br>Shared knowledge with colleagues
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}