{% extends 'base.html' %}

{% block content %}
        <div class="tui-tab-content tui-content" id="tab-1-content">
            <table class="tui-table-grid">
                <tbody>
                    <tr>
                        <td rowspan="2" width="60%" class="blue-168-text">
                            <p>I continued to work as full-stack developer on Ruby on Rails projects including a variety of Javascript framework like
                                ReactJS, EmberJS, and others. It was the time when I had a lot of opportunities to influence on projects as 
                                software engineer to write clear and understandable code. I also learned basics of DevOps methodologies how 
                                to produce and deploy software faster. I organised some workshops for colleagues about how to switch from Vagrant
                                to Docker.
                            </p>
                            Activities:<br>
                            - Participated in a lot of commercial web projects as full stack developer<br>
                            - Learned a lot of methodologies how to write clear and understandable code<br>
                            - Participated in several international projects based on Ruby on Rails<br>
                            - Packed web services in docker containers from Vagrant configurations<br>
                            It was the first time when I learned a lot how to get things done: how to write clear ruby code and make systems happy.<br>
                                                       
                        </td>
                        <td width="40%" class="center">Used:<br><br>
                            Ruby on Rails, React JS, Gems, React JS, Backbone JS, Linux, Docker, Vagrant, Ansible, Jenkins
                        </td>
                   </tr>
                    <tr>
                        <td width="25" height="448px">
                            <br>Main achievements:    
                            <br>
                            <br>Finished several commercial web projects
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}