<!DOCTYPE html>
<html lang="en" class="tui-bg-blue-black">

<head>
    <meta charset="UTF-8">
    <title>Skills | Mike Dronov</title>
    <script src="https://vinibiavatti1.github.io/TuiCss/dist/tuicss.min.js"></script>
    <link rel="stylesheet" href="https://vinibiavatti1.github.io/TuiCss/dist/tuicss.min.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MQPMEK74QC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-MQPMEK74QC');
    </script>
</head>

<body>
    <div class="tui-screen-1024-768 bordered tui-bg-blue-black">

        <!-- Sidenav -->
        <nav class="tui-sidenav absolute">
            <ul>
                <li>
                    <a href="#!">
                        <span class="red-168-text">O</span>pen
                        <span class="tui-shortcut">ctrl+o</span>
                    </a>
                </li>
                <li>
                    <a href="#!">OS Shell</a>
                </li>
                <li>
                    <a href="#!">
                        <span class="red-168-text">C</span>opy
                        <span class="tui-shortcut">ctrl+c</span>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <span class="red-168-text">P</span>aste
                        <span class="tui-shortcut">ctrl+v</span>
                    </a>
                </li>
                <li>
                    <a href="#!">C<span class="red-168-text">u</span>t
                        <span class="tui-shortcut">ctrl+x</span>
                    </a>
                </li>
                <div class="tui-black-divider"></div>
                <li>
                    <a href="#!">Insert</a>
                </li>
                <li>
                    <a href="#!">Delete</a>
                </li>
                <li>
                    <a href="#!">Go...</a>
                </li>
                <div class="tui-black-divider"></div>
                <li>
                    <a href="#!">
                        <span class="red-168-text">S</span>earch
                        <span class="tui-shortcut">ctrl+p</span>
                    </a>
                </li>
                <div class="tui-black-divider"></div>
                <li>
                    <a href="#!">Exit <span class="tui-shortcut">F10</span></a>
                </li>
            </ul>
        </nav>

        <!-- Navbar -->
        <nav class="tui-nav absolute">
            <span class="tui-datetime" data-format="h:m:s a"></span>
            <ul>
                <li class="tui-sidenav-button red-168-text">≡</li>
                <li class="tui-dropdown">
                    <span class="red-168-text">F</span>ile
                    <div class="tui-dropdown-content">
                        <ul>
                            <li>
                                <a href="#!">
                                    <span class="red-168-text">N</span>ew
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <span class="red-168-text">O</span>pen...
                                    <span class="tui-shortcut">F3</span>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <span class="red-168-text">S</span>ave
                                    <span class="tui-shortcut">F2</span>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    S<span class="red-168-text">a</span>ve as...
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    Save a<span class="red-168-text">l</span>l
                                </a>
                            </li>
                            <div class="tui-black-divider"></div>

                            <!-- SUBMENU EXAMPLE -->

                            <li class="tui-dropdown block">
                                <span class="right">►</span>
                                <span class="red-168-text">M</span>ore
                                <div class="tui-dropdown-content">
                                    <ul>
                                        <li>
                                            <a href="#!">
                                                <span class="red-168-text">C</span>hange dir...
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!">
                                                <span class="red-168-text">P</span>rint
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!">
                                                <span class="red-168-text">D</span>OS shell
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <div class="tui-black-divider"></div>
                            <li>
                                <a href="/">
                                    <span class="red-168-text">Q</span>uit
                                    <span class="tui-shortcut">F10</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="tui-dropdown">
                    <span class="red-168-text">E</span>dit
                </li>
                <li class="tui-dropdown">
                    <span class="red-168-text">V</span>iew
                </li>
                <li class="tui-dropdown">
                    <span class="red-168-text">H</span>elp
                </li>
            </ul>
        </nav>

        <!-- Edit panel -->
        <div class="tui-window full-width full-height tui-no-shadow" style="margin-top: 20px;">
            <fieldset class="tui-fieldset" style="height: 700px;">
                <legend class="center">_</legend>
                <span class="tui-fieldset-button"><span class="green-255-text">↕</span></span>
                <span class="tui-fieldset-text top right" style="margin-right: 50px">1</span>
                <span class="tui-fieldset-button left"><span class="green-255-text">SKILLS</span></span>
                <b>Here it is full list of my skills and tools used in nearest past or are using now.
                    Skills are listed in order from everyday use to past use.</b>
                <fieldset class="tui-fieldset">
                    <legend class="center">>>></legend>
                    <table class="tui-table hovered-cyan">
                        <thead>
                
                        </thead>
                        <tbody>
                            <tr>
                                <td>OS: Linux [deb/rpm/rolling based] </td>
                                <td>Programming: Python, Golang, Ruby, Shell</td>
                            </tr>
                            <tr>
                                <td>Containerization: LXC, Docker </td>
                                <td>IaC: Ansible, Terraform, Pulumi, Chef</td>
                            </tr>
                            <tr>
                                <td>Virtualization: Proxmox, KVM, VMware, Hyper-V </td>
                                <td>CI-CD: Gitlab CI, Github actions, jenkins</td>
                            </tr>
                            <tr>
                                <td>Clouds: GCP, Alicloud, AWS </td>
                                <td>Monitoring: Zabbix, Prometheus, Riemann, NetData</td>
                            </tr>
                            <tr>
                                <td>CDN providers: Akamai, GCore, Cloudflare </td>
                                <td>Security: OWASP, metasploit</td>
                            </tr>
                           <tr>
                                <td>Orchestration: k8s, nomad, swarm</td>
                                <td>Other: Git</td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
        <div class="tui-window full-width full-height tui-no-shadow" style="margin-top: 20px;">
            <p>Pet projects and articles:</p>
            <p><a href="https://www.dronov.net/2024/02/22/terraform-the-terrible-en.html">Terraform, the terrible: Article described my experience about how NOT to write bad Terraform code.</a></p>
            <p><a href="https://github.com/dronov/cv.dronov.net">cv.dronov.net: Python Flask application of this CV, packed to docker container and deployed to Nomad cluster by Github actions.</a></p>
            <p><a href="https://github.com/dronov/dronovdotnet/">Blog www.dronov.net: My first blog written in Ruby with middleman. Initially run 9 years ago. </a></p>
            <p><a href="https://github.com/dronov/urban-octo-couscous/">Test DevOps task: Random devops test task with some little Golang code works with Promotheus, Grafana. Also it contains Terraform code for Proxmox and a few count of ansible recipes. Also deployed by Github Actions. </a></p>
            <p><a href="https://github.com/dronov/cmangos-k8s">cmangos-k8s: My pet project to keep my k8s knowledge. I started to do it like a funny hackathon, but it works and needs more and more improvements. It contains bunch of k8s ymls and some Terraform code for Proxmox.</a></p>
            <p></p>
        </div>
                <span class="tui-fieldset-text" style="margin-left: 50px;">&nbsp;1:1&nbsp;</span>
            </fieldset>
        </div>

        <!-- Status bar -->
        <div class="tui-statusbar absolute">
            <ul>
                <li><a href="#!"><span class="red-168-text">F1</span> Help</a></li>
                <li><a href="#!"><span class="red-168-text">F2</span> Save</a></li>
                <li><a href="#!"><span class="red-168-text">F3</span> Open</a></li>
                <li><a href="#!"><span class="red-168-text">Alt+F9</span> Compile</a></li>
                <span class="tui-statusbar-divider"></span>
                <li><a href="#!"><span class="red-168-text">F10</span> Menu</a></li>
            </ul>
        </div>

    </div>
</body>

</html>
