{% extends 'base.html' %}

{% block content %}
        <div class="tui-tab-content tui-content" id="tab-1-content">
            <table class="tui-table-grid">
                <tbody>
                    <tr>
                        <td rowspan="2" width="60%" class="blue-168-text">
                            After university, I was searching for a job. Quite quickly, I came across interesting Linux engineer positions. After a while, I interviewed with Undev company for Kirill Mokevnin's team. I wasn't hired as an admin (the vacancy was specific to video surveillance), but I did land a position as a junior Ruby on Rails programmer.

<br>That's how I started programming full-time. I had a three-month probationary period, during which a mentor conducted training sessions with me. His advice and constant peer reviews allowed me to quickly enhance my skills, and even before the end of the probationary period, I was switched to the first commercial project. There, my Git skills came in handy, and it was then that I first encountered Docker. Compared to Vagrant, the concept of running software in lightweight containers seemed revolutionary. I'm very pleased that Docker has become an industry standard. However, back in 2015-16, I had to explain to people why containers were cool.

<br>Overall, during this time, I actively grew as an engineer, and good colleagues instilled in me practices that became commonplace. Regular reviews, a genuine interest, and much more contributed to my development.
                            
                        </td>
                        <td width="40%" class="center">Current tech stack:<br><br>
                            Ubuntu Linux<br>
                            Ruby on Rails<br>
                            Vagrant<br>
                            Docker<br>
                            PostgreSQL<br>
                        </td>
                   </tr>
                    <tr>
                        <td width="25" height="448px">
                            <br>Main achievements:    
                            <br>
                            <br>Started to work as junior ruby on rails engineer
                            <br>
                            <br>Learnt how to write undestandable ruby code
                            <br>
                            <br>Started to gain deep knowledge of Linux and Docker
                            <br>
                            <br>Got familiar with common things like CI-CD (gitlab, jenkins) as user
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}