{% extends 'base.html' %}

{% block content %}
        <div class="tui-tab-content tui-content" id="tab-1-content">
            <table class="tui-table-grid">
                <tbody>
                    <tr>
                        <td rowspan="2" width="60%" class="blue-168-text">
                            I started my career on a project at the university, which was a collaboration with Volga-Dnepr, a company. A group of teachers, graduate students, and students worked on a system to predict and prevent aviation incidents. We analyzed various factors, such as crew fatigue, weather conditions, and aircraft technical condition, providing assessments on managerial decisions to reduce potential expenses per flight from $2000 to $500. We utilized specially designed mathematical models for incident prediction.

<br><br>Initially, I spent a short time programming in C# in the team, but it turned out there was no system administrator, so I took on that role. I first introduced Git into the development process. Before that, the team copied files to the production server via FTP, leading to conflicts as one person's changes would overwrite another's. I migrated PHP code to Ubuntu 11.10, and the project lasted until around 2019 when it concluded. Additionally, I performed the installation of the entire system, including the OS and PHP, without internet access. I had to download necessary deb packages and write an installation bash script. Besides, I handled routine admin tasks, resolved code issues, and optimized the system.
                            
                        </td>
                        <td width="40%" class="center">Item Specified Help</td>
                    </tr>
                    <tr>
                        <td width="25" height="448px">
                            <br>&#60;Tab&#62;, &#60;Shift-Tab&#62; or &#60;Enter&#62; selects field.
                            <br>
                            <br>I tried to describe my entire professional journey from the very beginning. That's why I honestly depicted even the experience of a junior engineer, including tasks and results I achieved.
                            <br>
                            <br>I hope you find this resume format appealing. I made an effort to keep it straightforward to save your time, aiming for maximum sincerity in describing my professional journey from the very beginning.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tui-tab-content tui-content" id="tab-2-content">
        </div>
        <div class="tui-statusbar absolute cyan-168">
            <ul>
                <li><a href="#!"><span class="white-255-text">F1</span> Help</a></li>
                <li><a href="#!"><span class="white-255-text">↑↓</span> Select Item</a></li>
                <li><a href="#!"><span class="white-255-text">-/+</span> Change Values</a></li>
                <li><a href="#!"><span class="white-255-text">F9</span> Setup Defaults</a></li>
                <br>
                <li><a href="index.html"><span class="white-255-text">Esc</span> Exit</a></li>
                <li><a href="#!"><span class="white-255-text">←→</span> Select Menu</a></li>
                <li><a href="#!"><span class="white-255-text">Enter</span> Select Sub-Menu</a></li>
                <li><a href="index.html"><span class="white-255-text">F10</span> Save and Exit</a></li>
            </ul>
        </div>
    </div>
{% endblock %}