{% extends 'base.html' %}

{% block content %}
        <div class="tui-tab-content tui-content" id="tab-1-content">
            <table class="tui-table-grid">
                <tbody>
                    <tr>
                        <td rowspan="2" width="60%" class="blue-168-text">
                            - Responsible for Linux-based infrastructure in production<br>
                            - Helped to organize and implement full lifecycle of servers: creating, using, patching<br>
                            - Worked with terraform for creating, scaling, troubleshooting vms in GCP, Alicloud<br>
                            - Contacted with vendors: opened cases, troubleshooted incidents<br>
                            - Researched and adopted Akamai, NS1 routine processes to CI/CD pipelines with terraform<br>
                            - Refactored Akamai resources for better daily using: Properties, WAF, Caching, etc<br>
                            - Troubleshooted a lot of internal incidents with Akamai, NS1 and other external services<br>
                            - Adopted IaC methodologies for daily routines: setup CI-CD pipelines, worked with terraform<br>
                            - Setup reverse/tcp stream proxy. Setup CI-CD pipeline with GitLab CI. Setup LB scheme in GCP<br>
                            - Proactive helped in incidents troubleshooting across many teams (IT, RnD, etc)<br>
                            - Wrote couple of ops-utilities in golang to work with NS1 API><br>
                            - Participated in many DoS mitigation activities using Akamai<br>
                                                       
                        </td>
                        <td width="40%" class="center">Hands on:<br><br>
                            RHEL/CentOS, Ansible, Containers, Git, CI/CD (GitLab), GCP, Alicloud, Terraform, Akamai, CDN/WAF/etc, Foreman, Patching servers, IT support, ITIL
                        </td>
                   </tr>
                    <tr>
                        <td width="25" height="448px">
                            <br>Main achievements:    
                            <br>
                            <br>Speed up general Akamai pipelines up to 30% with terraform
                            <br>
                            <br>Setup a lot of CI-CD pipelines with Cloud providers, CDN
                            <br>
                            <br>Refactored tons of legacy nginx and terraform code
                            <br>
                            <br>Shared knowledge with colleagues
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}